fastapi
uvicorn[standard]
langchain-core
langchain-groq
langchain
pydantic
pydantic-settings
pyyaml
faster-whisper
deepgram-sdk>=3.0.0
python-multipart
asyncpg
SQLAlchemy[asyncio]
websockets
numpy
pyttsx3
gtts
soundfile
aiofiles